@media (max-width: 960px) {
  .hero-content {
    margin: 80px !important;
  }
}
@media (max-width: 768px) {
  body {
    font-size: 15px !important;
  }
  .footer-grid {
    margin-top: 20px;
  }
  .btn-primary {
    font-size: 13px !important;
  }

  .top-left {
    top: 15px;
    left: 15px;
  }

  .top-right {
    top: 15px;
    right: 15px;
    gap: 12px;
  }

  .logo-btn {
    font-size: 18px !important;
  }

  .nav-link,
  .phone-link {
    font-size: 15px !important;
  }

  .hero-content {
    max-width: 460px !important;
    margin: 60px 20px !important;
    padding: 0;
    padding-left: 0 !important;
  }

  .hero-content h1 {
    font-size: 32px !important;
  }

  .hero-content p {
    font-size: 16px !important;
  }

  .stats-delivery h3 {
    font-size: 32px !important;
  }

  .about-delivery h2,
  .form-delivery h2 {
    font-size: 32px !important;
  }

  .features-delivery h3 {
    font-size: 24px;
  }

  .features-delivery p {
    font-size: 15px;
  }

  .about-delivery p {
    font-size: 15px;
  }

  .container {
    padding: 0 !important;
  }

  .about-delivery,
  .stats-delivery,
  .form-delivery {
    padding: 40px 20px;
  }
}

@media (max-width: 480px) {
  .nav-link,
  .phone-link {
    font-size: 12px !important;
  }
  .features-delivery p {
    font-size: 12px !important;
  }
  .grid-3 {
    gap: 10px !important;
    text-align: left;
  }
  .grid-4 {
    gap: 10px !important;
  }
  .about-delivery p {
    font-size: 12px;
  }
  .stats-delivery p {
    font-size: 12px !important;
  }
  .footer-delivery h4 {
    font-size: 13px !important;
  }
  .footer-delivery h3 {
    font-size: 13px !important;
  }
  .footer-delivery p {
    font-size: 12px !important;
  }
  .form-delivery p {
    font-size: 12px !important;
  }
  .top-right {
    gap: 8px !important;
  }
  .hero-delivery {
    padding: 40px 5px !important;
  }
  .hero-content p {
    font-size: 12px !important;
  }

  .btn-primary {
    padding: 8px 16px;
    font-size: 14px;
  }
}

@import url("./Media.css");
